{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome-free-5.14.0-web/css/all.min.css' %}" rel="stylesheet">

</head>

<body>
                            <!-- Navigation Starts Here-->
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="{% url "user:index" %}"><span><i class="fas fa-bug"></i></span> Bug Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-arrow-down" style="color: #ffffff;"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "user:dashboard" %}"><span><i class="fas fa-columns"></i></span> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "ticket:report-bug" %}"><span><i class="fas fa-exclamation-circle"></i></span> Report Bug</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "user:sign-up" %}"><span><i class="fa fa-user-plus"></i></span> Sign up</a>
                </li>
            {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span><i class="fas fa-user"></i></span> {{ request.user.username }}
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url "user:profile-view" %}">My Profile</a>
                        <a class="dropdown-item" href="{% url "user:change-password" %}">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url "user:logout" %}">Logout</a>
                      </div>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
                        <!-- Navigation Ends Here -->
                            <!--Message Starts Here -->
     {% if messages %}
{% for message in messages %}
    <div class="message">
    <p {% if message.tags %} class = "{{ message.tags }}" {% endif %}> Hey {{ user.first_name }} {{ user.last_name }} ! {{ message }}</p></div>
    {% endfor %}
{% endif %}
                         <!-- Message Ends Here -->
  <section id="main">
        <div class="container-fluid">
            <div class="row">
             {% if request.user.is_authenticated %}
                <div class="col-12 col-md-4 col-lg-2">
                    <!--------------------------------------- Sidebar Starts Here -------------------------------------->
<div class="list-group sidebar mt-3">
    <a href={% url 'company:company-list'%} class="list-group-item list-group-item-action">
                            <span class="icon"><i class="fas fa-layer-group"></i></span> Company</a>
      <a href={% url 'product:product-list'%} class="list-group-item list-group-item-action"><span class="icon">
          <i class="fab fa-microsoft"></i></span> Products</a>
<a href={% url 'team:team-list'%} class="list-group-item list-group-item-action">
                            <span class="icon"><i class="fas fa-users"></i></span> Team </a>
 <a href={% url 'designation:designation-list'%} class="list-group-item list-group-item-action">
                            <span class="icon"><i class="fas fa-user-md"></i></span> Designation </a>
                            <a href={% url 'ticket:report-bug'%} class="list-group-item list-group-item-action">
                            <span class="icon"><i class="fas fa-exclamation-circle"></i></span> Report Bug </a>
                            <a href={% url 'ticket:submitted-tickets'%} class="list-group-item list-group-item-action">
                            <span class="icon"><i class="fas fa-envelope-open-text"></i></span> Submitted Tickets </a>
                            {% if True in user.administratorStatus.values %}
<a href={% url 'ticket:review-tickets'%} class="list-group-item list-group-item-action">
                            <span class="icon"><i class="fas fa-history"></i></span> Review Tickets </a>
                            <a href={% url 'ticket:assigned-tickets'%} class="list-group-item list-group-item-action">
                            <span class="icon"><i class="fas fa-hand-point-right"></i></span> Assigned Tickets </a>    
                            {% endif %}
</div>

                    <!--------------------------------------- Sidebar Ends Here ---------------------------------------->
                </div>
                {% endif %}
                <div class="col-12 col-md-8 col-lg-10 mt-3">
                    <section>
                {% block section %} {% endblock %}
                    </section>
                </div>
            </div>
        </div>
    </section>




   <script src="{% static 'jquery/jquery.slim.min.js' %}">
    </script>
    <script src="{% static 'popperjs/popper.min.js' %}">
    </script>
    <script src="{% static 'js/bootstrap.min.js' %}">
    </script>
</body>
</html>