{% extends 'base.html' %}
{% block section %}
<div class="form-container">
<form action = "" method = "POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="form-group row">
    {{ form.name.errors }}
    <label for="{{ form.name.id_for_label }}" class="col-sm-6 col-md-4 col-lg-2 col-form-label">Name</label>
    {{ form.name }}
</div>

<div class="form-group row">
    {{ form.description.errors }}
    <label for="{{ form.description.id_for_label }}" class="col-sm-6 col-md-4 col-lg-2 col-form-label">Description</label>
    {{ form.description }}
</div>

<div class="form-group row">
    {{ form.company.errors }}
    <label for="{{ form.company.id_for_label }}" class="col-sm-6 col-md-4 col-lg-2 col-form-label">Company</label>
    {{ form.company }}
</div>

<div class="form-group row">
    {{ form.date_of_launch.errors }}
    <label for="{{ form.date_of_launch.id_for_label }}" class="col-sm-6 col-md-4 col-lg-2 col-form-label">Date of Launch</label>
    {{ form.date_of_launch }}
</div>

<div class="form-group row">
    {{ form.administrator.errors }}
    <label for="{{ form.administrator.id_for_label }}" class="col-sm-6 col-md-4 col-lg-2 col-form-label">Administrator</label>
    {{ form.administrator }}
</div>

<div class="form-group row">
    {{ form.logo.errors }}
    <label for="{{ form.logo.id_for_label }}" class="col-sm-6 col-md-4 col-lg-2 col-form-label">Logo</label>
    {{ form.logo }}
</div>
<button type = "submit" value = "Submit" class = "btn btn-success">Apply Changes</button>
</form>
</div>
{% endblock %}