{% extends 'base.html' %}
{% block section %}
<div class ="col-12 list-container">
<ul>
{% for ticket in ticket_list%}
   <li> <a href = {% url "ticket:ticket-dashboard" ticket.id %}>{{ ticket }} </a> </li>
{% endfor %}
<ul>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <button type="button" class="btn btn-outline-success paginator-button"> <a href="?page=1">&laquo; first</a></button>
        <button type="button" class="btn btn-outline-success paginator-button"><a href="?page={{ page_obj.previous_page_number }}">Previous</a></button>    
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <button type="button" class="btn btn-outline-success paginator-button"><a href="?page={{ page_obj.next_page_number }}">Next</a></button>
        <button type="button" class="btn btn-outline-success paginator-button"><a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></button>
            
        {% endif %}
    </span>
</div>
</div>
{% endblock section %}

